body {
    background-color: rgb(60, 60, 60) !important;
    color: rgb(255, 255, 255) !important;
}

grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(97px, 1fr));
    grid-auto-rows: 1fr;
    gap: 2px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

grid div {
    border: 2px solid #ccc;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    transition: background-color 0.125s ease;
}